{% set pages = site.pages.all %}
{% if page.pages is defined %}
{% set pages = page.pages %}
{% endif %}
{% if page.pagination.pages is defined %}
{% set pages = page.pagination.pages %}
{% endif %}

{% extends 'page.html.twig' %}

        {%- block content ~%}
        <div class="posts">
        {%- for post in pages|sort_by_date ~%}
          <div class="post">
            <h1 class="post-title">
              <a href="{{ url(post) }}">
                {{- post.title ~}}
              </a>
            </h1>
            {{- post.content|excerpt_html ~}}
            <footer class="readmore">
              <a href="{{ url(post) }}">Voir le contenu ›</a>
            </footer>
          </div>
        {%- endfor ~%}
        </div>
        {%- endblock content ~%}