a {
  color: #185886;
}

.page, .post {
  margin-bottom: 1.5em;
}

.post-date,
.post-readtime,
.post-tags {
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #585858;
}

.icon-clock {
  margin: -0.15em 0;
}

.icon {
  max-width: 2rem;
  height: 1rem;
  fill: currentColor;
  display: inline-block;
}

.lastposts li {
  padding-top: .5rem;
}

.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  padding-right: 1rem;
}

.inline li {
  display: inline;
}

.social .icon {
  width: 1rem;
  height: 1rem;
}

.copy {
  padding-top: 2rem;
  text-align: center;
  font-size: 75%;
  font-style: italic;
  color: #999;
}

.webmention-mention {
  margin-bottom: 1em;
  font-size: smaller;
}

.readmore {
  text-align: right;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}

twitterwidget {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: unset;
}
