{% extends 'index.html.twig' %}

{% block content %}
<div class="posts">
{% for post in site.pages|sortByDate %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ url(post) }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content|excerpt }}
  </div>
{% endfor %}
</div>
{% if site.debug == true %}
<pre>
Layout: {{ _self.getTemplateName() }}
</pre>
{% endif %}
{% endblock content %}
