{% extends 'index.html.twig' %}

{% block content %}
<form method="GET" action="https://www.qwant.com" id="form" onsubmit="addSiteSearch()">
<div align="left">
<table bgcolor="#FFFFFF">
<tbody>
<tr>
<td>
<a href="https://www.qwant.com"> <img src="https://www.qwant.com/img/logo/q-48.png" border="0" alt="Qwant" align="absmiddle"></a>
<input type="text" name="q" id="query" size="31" maxlength="255" value="">
<input type="hidden" name="l" value="fr">
<input type="submit" name="btnG" value="go">
</td>
</tr>
</tbody>
</table>
</div>
</form>
<script type="text/javascript">
function encodeHTML(s) {
return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;');
}
function addSiteSearch() {
document.getElementById('query').value = encodeHTML(document.getElementById('query').value) + " site:narno.com";
}
</script>
{% endblock content %}
