a {
  color: #185886;
}

.masthead-title small {
  color: #767676;
}

.page, .post {
  margin-bottom: 1.5em;
}

/* better links visibility in page content */
.page > :not(h1, h2, span, figure, footer) a,
.post > :not(h1, h2, span, figure, footer) a {
  text-decoration: underline;
}

.post-date,
.post-readtime,
.post-tags {
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #585858;
}

.icon-clock {
  margin: -0.15em 0;
}

.icon {
  max-width: 2rem;
  height: 1rem;
  fill: currentColor;
  display: inline-block;
}

li {
  padding-top: .5rem;
}

.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  padding-right: 1rem;
}

.inline li {
  display: inline;
}

.social .icon {
  width: 1rem;
  height: 1rem;
}

.copy {
  padding-top: 2rem;
  text-align: center;
  font-size: 75%;
  font-style: italic;
  color: #999;
}

.webmention-mention {
  margin-bottom: 1em;
  font-size: smaller;
}

.readmore {
  text-align: right;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}

img {
  /*display: unset;*/
  margin-inline: auto;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-style: italic;
  text-align: center;
}

video {
  max-width: 100%;
}

.videos {
  display: flex;
}

.videos a.video {
  padding-right: .5rem;
}

a.video {
  position: relative;
  flex-grow: 1;
}

a.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

a.video .play-btn svg {
  transition: all .2s ease;
  fill: #fff;
  width: 3rem;
}

a.video .play-btn:hover svg,
a.video .play-btn:focus svg {
  cursor: pointer;
  fill: #eee;
}

a.video img {
  margin: 0;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

twitterwidget {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #c0c0c0;
    background-color: #222;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #acacac;
  }
  a {
    color: #268bd2;
  }
  hr {
    border-top: 1px solid #666565;
    border-bottom: 1px solid #fff;
  }
  tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #222;
  }
  .sidebar-toggle {
    color: #acacac;
    background-color: #505050;
  }
  .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom,#acacac,#acacac 20%,#505050 20%,#505050 40%,#acacac 40%,#acacac 60%,#505050 60%,#505050 80%,#acacac 80%,#acacac 100%);
    background-image: -moz-linear-gradient(to bottom,#acacac,#acacac 20%,#505050 20%,#505050 40%,#acacac 40%,#acacac 60%,#505050 60%,#505050 80%,#acacac 80%,#acacac 100%);
    background-image: -ms-linear-gradient(to bottom,#acacac,#acacac 20%,#505050 20%,#505050 40%,#acacac 40%,#acacac 60%,#505050 60%,#505050 80%,#acacac 80%,#acacac 100%);
    background-image: linear-gradient(to bottom, #acacac, #acacac 20%, #505050 20%, #505050 40%, #acacac 40%, #acacac 60%, #505050 60%, #505050 80%, #acacac 80%, #acacac 100%);
  }
  .masthead {
    border-bottom: 1px solid #acacac;
  }
  .masthead-title a {
    color: #acacac;
  }
  .masthead-title small {
    color: silver;
  }
  .page-title, .post-title, .post-title a {
    color: #acacac;
  }
  .post-date, .post-readtime, .post-tags {
    color: #acacac;
  }
}
