{% extends '_default/page.html.twig' %}

        {%- block content ~%}
          <div class="post">
            <span><a href="/videos">Vidéos</a></span>
            <h1 class="post-title">{{ page.title }}</h1>
            {{- include('partials/player.html.twig', {page: page, autoplay: true}, with_context = false) ~}}
            <style>
              video {
                border-radius: 5px;
              }
              :root {
                --plyr-color-main: #185886;
              }
              .plyr {
                border-radius: 5px;
                margin: 0 0 2.2rem;
              }
            </style>
            <blockquote>{{ page.description }}</blockquote>
            {{- page.content ~}}
          </div>
        {%- endblock ~%}