<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="googlebot" content="noindex,indexifembedded">
    <link rel="canonical" href="{{ url(page, {canonical:true, format:'iframe'}) }}">
    <title>{{ page.title }}</title>
    <style type="text/css">
      body {
        background-color: black;
      }
      video {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    {%- include 'partials/player.html.twig' with {page: page, muted:true} only ~%}
  </body>
</html>